<img src="images/Head.png"/>

<b> Banco de dados Titanic: http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls </b>

In [56]:
import pandas as pd
titanic_data = pd.read_excel('/Users/thayssilva/Documents/demo_presentation/titanic3.xls', 'titanic3',\
                             index_col=None, na_values=['NA'])

<img src="images/Sobrevivente.png"/>

In [57]:
titanic_data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [58]:
titanic_data.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [59]:
titanic_data.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [60]:
classes=['Primeira Classe','Segunda Classe','Terceira Classe']
Classe_group = titanic_data.groupby('pclass')
for key, df in Classe_group:
    print(classes[key-1])
    print(dict(df['sex'].value_counts()))

Primeira Classe
{'male': 179, 'female': 144}
Segunda Classe
{'male': 171, 'female': 106}
Terceira Classe
{'male': 493, 'female': 216}

In [61]:
classes=['Primeira Classe','Segunda Classe','Terceira Classe']
Classe_grupo = titanic_data.groupby('pclass')
for key, df in Classe_grupo:
    print(classes[key-1])
    print(dict(df[df.survived == 1]['sex'].value_counts()))

Primeira Classe
{'male': 61, 'female': 139}
Segunda Classe
{'male': 25, 'female': 94}
Terceira Classe
{'male': 75, 'female': 106}

<img src="images/porcent.png" height="500" width="500"/>

In [62]:
for key, df in Classe_grupo:
    print(classes[key-1])
    print(dict(df.groupby('sex')['age'].mean()))

Primeira Classe
{'male': 41.029249668874172, 'female': 37.037593984962406}
Segunda Classe
{'male': 30.815400632911395, 'female': 27.499191262135923}
Terceira Classe
{'male': 25.962273065902579, 'female': 22.185307236842103}

<img src="images/age.png" height="500" width="500"/>

<b>Pré-processamento</b>

In [63]:
#Remove colunas com maior quantidade de nulos, remove linhas com dados nulos 
titanic_data = titanic_data.drop(['body','cabin','boat'], axis=1)
titanic_data["home.dest"] = titanic_data["home.dest"].fillna("NA")
titanic_data = titanic_data.dropna()

In [64]:
#Remove dados com alta correlação, informação posteriore, irrelevante para classificação
from sklearn import preprocessing
titanic_preprocesso= titanic_data.copy()
encoder= preprocessing.LabelEncoder()
titanic_preprocesso.sex = encoder.fit_transform(titanic_data.sex)
titanic_preprocesso.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,embarked,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",0,29.0000,0,0,24160,211.3375,S,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",1,0.9167,1,2,113781,151.5500,S,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",0,2.0000,1,2,113781,151.5500,S,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",1,30.0000,1,2,113781,151.5500,S,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",0,25.0000,1,2,113781,151.5500,S,"Montreal, PQ / Chesterville, ON"

In [ ]:
titanic_preprocesso = titanic_preprocesso.drop(['name','ticket','home.dest','fare','embarked'],axis=1)

In [42]:
Y_dados = titanic_preprocesso['survived'].values #classe (sobreviveu, morreu)
X_dados = titanic_preprocesso.drop(['survived'], axis=1).values #dados sem as classes

<img src="images/train-test.png"/>

In [43]:
from sklearn import cross_validation
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X_dados,Y_dados,test_size=0.2)

<img src="images/tree.png"/>

In [49]:
#Árvore de decisão com profundidade 4 
from sklearn import tree
arvore_decisao = tree.DecisionTreeClassifier(max_depth=4)
arvore_decisao.fit (X_train, y_train) #treinamento 
precisao = arvore_decisao.score (X_test, y_test) #teste

print("Precisão: %.2f"%precisao)

Precisão: 0.79

In [96]:
#Árvore de decisão com profundidade 5 
from sklearn import tree
arvore_decisao = tree.DecisionTreeClassifier(max_depth=5)
arvore_decisao.fit (X_train, y_train) #treinamento 
precisao = arvore_decisao.score (X_test, y_test) #teste

print("Precisão: %.2f"%precisao)

Precisão: 0.80

<img src="images/mlp.png"/>

In [91]:
#MLP com camadas escondidas = (5, 2)
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(solver='lbfgs', alpha=1e-5,
                     hidden_layer_sizes=(5, 2), random_state=1, activation='logistic',  verbose=True)

mlp.fit (X_train, y_train) #treinamento 
precisao = mlp.score (X_test, y_test) #teste

print("Precisão: %.2f"%precisao)

Precisão: 0.80

In [92]:
#MLP com camadas escondidas = (15, 3)
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(solver='lbfgs', alpha=1e-5,
                     hidden_layer_sizes=(15, 3), random_state=1, activation='logistic',  verbose=True)

mlp.fit (X_train, y_train) #treinamento 
precisao = mlp.score (X_test, y_test) #teste

print("Precisão: %.2f"%precisao)

Precisão: 0.80

<img src="images/knn.png"/>

In [72]:
#KNN com K vizinhos = 3
from sklearn import neighbors
knn=neighbors.KNeighborsClassifier(3)
knn.fit (X_train, y_train) #treinamento 
precisao = knn.score (X_test, y_test) #teste

print("Precisão: %.2f"%precisao)

Precisão: 0.75

In [73]:
#KNN com K vizinhos = 11
from sklearn import neighbors
knn=neighbors.KNeighborsClassifier(11)
knn.fit (X_train, y_train) #treinamento 
precisao = knn.score (X_test, y_test) #teste

print("Precisão: %.2f"%precisao)

Precisão: 0.75

<img src="images/olaus.png"/>

In [97]:
#criando dados de um individuo
classe = 3
sexo = 1
idade = 25
irmao_marido = 0
pais_filho = 0
olaus = [classe, sexo, idade, irmao_marido, pais_filho ]

print("Arvore Decisao: %.f"% arvore_decisao.predict([olaus]))
print("MLP: %.f"%mlp.predict([olaus]))
print("KNN: %.f"%knn.predict([olaus]))

Arvore Decisao: 0
MLP: 0
KNN: 0

<img src="images/jack.png"/>

In [90]:
#Criando Dados do Jack
classe = 3
sexo = 1
idade = 19
irmao_marido = 0
pais_filho = 0
jack = [classe, sexo, idade, irmao_marido, pais_filho ]

print("Arvore Decisao: %.f"% arvore_decisao.predict([olaus]))
print("MLP: %.f"%mlp.predict([olaus]))
print("KNN: %.f"%knn.predict([olaus]))

Arvore Decisao: 0
MLP: 0
KNN: 0